<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Console</title>
</head>
<body>
<hr>
<h1>Welcome to Admin Panel</h1>
<hr>

<a href="http://localhost:8080/getFindPage"><h2>1) See category</h2></a>
<a href="http://localhost:8080/addProduct"><h2>2) Add product to the category</h2></a>
<a href="http://localhost:8080/getChangePage"><h2>3) Change product in the category</h2></a>
<a href="http://localhost:8080/getDeletePage"><h2>4) Delete product from shop</h2></a>
<a href="http://localhost:8080/getSwitchOnDeliveryPage"><h2>5) Switch on delivery</h2></a>
<a href="http://localhost:8080/getChangeDeliveryPricePage"><h2>6) Change delivery price</h2></a>
<a href="http://localhost:8080/getFilterConsolePage"><h2>7) Open Filter Console</h2></a>
</body>
</html>
