<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorisation</title>
</head>
<body>
<hr>
<h1>Authorisation Page</h1>
<hr>

<form method="post" action="/authMethod">
    <input type="text" name="login" required>
    <input type="text" name="password" required>
    <button type="submit" class="no-paragraph">Submit info</button>
</form>

<hr>
<h1>Registration</h1>
<hr>
<a href="http://localhost:8080/getRegPage"><h2>Click here for registration</h2></a>

</body>
</html>
