<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter Console</title>
</head>
<body>
<hr>
<h1>Welcome to the Filter Console</h1>
<hr>

<a href="http://localhost:8080/getCategoryFilterPage"><h2>1) See category with filters</h2></a>
<a href="http://localhost:8080/getPriceFilterPage"><h2>2) Price Filter</h2></a>
<a href="http://localhost:8080/getRankFilterPage"><h2>3) Rank Filter</h2></a>
<a href="http://localhost:8080/getNameFilterPage"><h2>3) Find by product's name Filter</h2></a>

</body>
</html>